[submodule "vim/pack/git-plugins/start/ale"]
	path = vim/pack/git-plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "linux-cli/fzf"]
	path = cli-tools/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/pack/tpope/start/fugitive"]
	path = vim/pack/tpope/start/fugitive
	url = https://tpope.io/vim/fugitive.git
[submodule "vim/pack/dist/start/vim-airline"]
	path = vim/pack/dist/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/pack/tpope/start/surround"]
	path = vim/pack/tpope/start/surround
	url = https://tpope.io/vim/surround.git
[submodule "vim/pack/dist/start/YouCompleteMe"]
	path = vim/pack/dist/start/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "vim/pack/themes/opt/onedark.vim"]
	path = vim/pack/themes/opt/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule "vim/pack/plugins/start/vim-polyglot"]
	path = vim/pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "vim/pack/airblade/start/vim-gitgutter.git"]
	path = vim/pack/airblade/start/vim-gitgutter.git
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/pack/preservim/start/nerdcommenter.git"]
	path = vim/pack/preservim/start/nerdcommenter.git
	url = https://github.com/preservim/nerdcommenter.git
[submodule "vim/pack/keith12345/start/vim-uppercase-sql.git"]
	path = vim/pack/keith12345/start/vim-uppercase-sql.git
	url = https://github.com/keith12345/vim-uppercase-sql.git
[submodule "vim/pack/ludovicchabant/start/vim-gutentags.git"]
	path = vim/pack/ludovicchabant/start/vim-gutentags.git
	url = https://github.com/ludovicchabant/vim-gutentags.git
